

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../adminstyle.css">
</head>
<body>
    <div class="container row pt-1 mt-5 " align="center" style="width: 200%; height:65vh;">
        <div class="text col-lg-8 py-5 mt-5 "  >
            <h1 class="px-5 mt-5 pt-5">
                <!-- <% console.log(typeof message ) %> -->
                <% if(typeof message == 'undefined')  {%>
                    <span class="fw-bolder d-block me-4"style="color: rgb(46, 178, 244);" >Verifier</span><span class="fw-bolder animated-text-2" >Login</span>
                <% }else{ %>
                    <span class="fw-bolder d-block me-4"style="background-color: red;" ><%= message %></span><span class="fw-bolder animated-text-2" >Try Again</span>
                <% } %>
                
             </h1>
        </div>


        <div id="form-section" class="container col-lg-4 mt-5 py-5 px-4" action="/login" method="POST">
            <form class="admin-form row  px-3 py-5 my-5" action="/login" method="POST">
                <div class="form-group px-4 pt-3 col-lg-12">
                    <legend class="legend">Enter Email</legend>
                    <input type="email" name="email" class="form-control"  placeholder="Enter your name" required>
                </div>
                <div class="form-group px-4 pt-5 col-lg-12">
                    <legend class="legend">Enter Password</legend>
                    <input type="password" name="password" class="form-control"  placeholder="Enter your name" required>
                </div>
                <div class="col-lg-8  px-4 pt-3 mt-3" align="left">
                    <button  type="submit" class="btn btn-lg  fw-bolder form-btn  px-5 mt-4" >Login</button>
                    <p> Register? <a href="/register">Register</a></p>
                </div>
                <div class="col-lg-5  px-5 pt-3 mt-3" align="left" style="margin-left: 30px;">
                  
                </div>
            </form>
        </div>
    </div>
        <div class="textBackground1" style="height: 30vh; width: 100%">
        </div>
</body>
</html>